<todo-header (menuSelecionado)="receberValorMenu($event)"></todo-header>

<todo-instituicao-ensino-list [hidden]="!(menuSelecionado == 'instituicao-ensino-list')"
    (menuSelecionado)="receberValorMenu($event)">
</todo-instituicao-ensino-list>

<todo-usuario-list [hidden]="!(menuSelecionado == 'usuario-list')" (menuSelecionado)="receberValorMenu($event)">
</todo-usuario-list>

<todo-livro-list [hidden]="!(menuSelecionado == 'livro-list')" (menuSelecionado)="receberValorMenu($event)">
</todo-livro-list>

<todo-emprestimo [hidden]="!(menuSelecionado == 'emprestimo')" (menuSelecionado)="receberValorMenu($event)">

</todo-emprestimo>

<div class="m-2" [hidden]="!!(menuSelecionado)">
    <h4>Empréstimos ativos</h4>
    <div *ngFor="let emprestimo of emprestimos | async">
        <div class="alert" [ngClass]="retornarStatusEmprestimo(emprestimo)" role="alert">
            <strong>Usuário:</strong> {{emprestimo.usuario.nome}} |
            <strong> Livro:</strong> {{emprestimo.livro.titulo}} |
            <strong> Data Empréstimo:</strong> {{emprestimo.dataEmprestimo |  date:"dd/MM/yyyy"}} |
            <strong> Data Prevista Devolução:</strong> {{emprestimo.dataPrevistaDevolucao |  date:"dd/MM/yyyy"}}
        </div>
    </div>
</div>