<div [hidden]="exibeFormularioNovo" class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-12 align-self-center">
            <div class="form-group row div-search">
                <button type="button" (click)="novo()" class="btn btn-primary rounded-circle mr-4"><i
                        class="fa fa-plus"></i></button>
                <todo-search (input)="termoPesquisa$.next($event.target.value)"></todo-search>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Ativo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let instituicao of instituicoes | async">
                        <td scope="row">{{instituicao.id}}</td>
                        <td scope="row">{{instituicao.nome}}</td>
                        <td scope="row">{{instituicao.cnpj}}</td>
                        <td scope="row">{{instituicao.telefone}}</td>
                        <td scope="row">{{instituicao.endereco}}</td>
                        <td scope="row"><input class="check-input" [checked]="instituicao.ativo" type="checkbox"
                                disabled></td>
                        <td><button (click)=editar(instituicao) class="btn mr-2 btn btn-outline-primary"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" *ngIf="(indicePagina > 1)">
                        <a class="page-link" (click)="paginaAnterior()">Anterior</a>
                    </li>
                    <li class="page-item" *ngIf="(instituicoes | async)?.length === 12">
                        <a class="page-link" (click)="proximaPagina()">Próxima</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>

<div [hidden]="!exibeFormularioNovo" class="container-fluid">
    <todo-instituicao-ensino (exibeMenuNovo)="voltar()" [instituicao]="instituicaoSelecionada">
    </todo-instituicao-ensino>
</div>