<div [hidden]="exibeFormularioNovo" class="container-fluid">

    <br />
    <div class="row">
        <div class="col-md-12 align-self-center">
            <div class="form-group row div-search">
                <button type="button" (click)="novo()" [hidden]="(user$ | async)?.idPerfil != 1"
                    class="btn btn-primary rounded-circle mr-4"><i class="fa fa-plus"></i></button>
                <todo-search (input)="termoPesquisa$.next($event.target.value)"></todo-search>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div *ngFor="let livro of livros | async" class="col-md-4 p-2">
            <div class="col-12 m-4" class="border border-dark" style="border-radius: 25px; height: 100%;"
                apDarkenOnHover>
                <img src="https://localhost:44369/api/imagem/buscar?guid={{livro.guidCapa}}" class="rounded float-left"
                    style="max-width: 40%; margin: 10px;" />
                <div class="text-center p-1">
                </div>
                <div style="word-wrap: break-word;">
                    <strong>Título: </strong>{{livro.titulo}}
                </div>
                <div style="word-wrap: break-word;">
                    <strong>Genero: </strong>{{livro.genero}}
                </div>
                <div style="word-wrap: break-word;">
                    <strong>Autor: </strong>{{livro.autor}}
                </div>
                <div style="word-wrap: break-word;">
                    <strong>Sinopse: </strong>{{livro.sinopse}}
                </div>
                <div class="mt-2">
                    <button class="btn btn-dark mr-4" [hidden]="!livro.disponibilidade"
                        (click)="emprestar(livro)">Emprestar</button>
                    <button (click)=editar(livro) class="btn mr-2 btn btn-outline-primary"><i class="fa fa-pencil"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" *ngIf="(indicePagina > 1)">
                        <a class="page-link" (click)="paginaAnterior()">Anterior</a>
                    </li>
                    <li class="page-item" *ngIf="(livros | async)?.length === 6">
                        <a class="page-link" (click)="proximaPagina()">Próxima</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div [hidden]="!exibeFormularioNovo" class="container-fluid">
    <todo-livro (exibeMenuNovo)="voltar()" [livro]="livroSelecionado">
    </todo-livro>
</div>