<div [hidden]="exibeFormularioNovo">
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <button class="btn btn-primary mr-2" (click)="novo()">Novo</button>
        </div>
        <div class="col-md-8">
            <div class="form-group row">
                <todo-search (textoPesquisado)="preencherTermoPesquisa($event)" (input)="buscarDados($event.target.value, 1)"></todo-search>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Telfone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Instituição de Ensino</th>
                        <th scope="col">Ativo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios | async">
                        <td scope="row">{{usuario.id}}</td>
                        <td scope="row">{{usuario.nome}}</td>
                        <td scope="row">{{usuario.cpf}}</td>
                        <td scope="row">{{usuario.telefone}}</td>
                        <td scope="row">{{usuario.email}}</td>
                        <td scope="row">{{usuario.instituicaoEnsinoDescricao}}</td>
                        <td scope="row"><input class="check-input"  [checked]="usuario.ativo"  type="checkbox" disabled></td>
                        <td><button (click)=editar(usuario) class="btn mr-2 btn btn-outline-primary"><i class="fa fa-pencil"
                                    aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" *ngIf="(indicePagina > 1)">
                        <a class="page-link" (click)="paginaAnterior()" >Anterior</a>
                    </li>
                    <li class="page-item" *ngIf="(usuarios | async)?.length === 12">
                        <a class="page-link" (click)="proximaPagina()" >Próxima</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div [hidden]="!exibeFormularioNovo">
    <todo-usuario (exibeMenuNovo)="voltar()" [usuario]="usuarioSelecionado">
    </todo-usuario>
</div>